:root.theme-light {
  --primary-text-color: #353430;
  --bg-text-color: #FF8DCB;
  --theme-text-borders: #353430;
  --heading-text-color: #000028;
  --main-heading-color: #FFC2E6;
  --bg-color: #fff1f7;
  --bg-image: url('../images/cover-image-light.png');
  --visible: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-text-color: #353430;
    --bg-text-color: #FF8DCB;
    --theme-text-borders: #353430;
    --heading-text-color: #000028;
    --main-heading-color: #FFC2E6;
    --bg-color: #fff1f7;
    --bg-image: url('../images/cover-image-light.png');
    --visible: hidden;
  }
}