/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

/*header*/

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: 10px;
}

.decorated-zone {
  min-height: 668px;
  height: 100vh;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--theme-text-borders);
  border-inline-end: 1px solid var(--theme-text-borders);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-inline-start: 1px solid var(--theme-text-borders);
  border-block-end: 1px solid var(--theme-text-borders);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  padding: 1.5px 13px;
  color: var(--theme-text-borders);
  cursor: pointer;
  font-family: var(--font-family)
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--theme-text-borders);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--theme-text-borders);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--theme-text-borders);
}

.header__theme-menu-button--active {
  border: 1px solid var(--theme-text-borders);
  pointer-events: none;
}

.heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-family: var(--font-family);
  font-weight: var(--font-weight-max);
  line-height: 83%;
  color: var(--main-heading-color);
  text-shadow: 4px 4px 0 var(--bg-text-color);
}

.header__descr {
  font-weight: var(--font-weight-max);
  color: var(--heading-text-color);
  line-height: 1.3em;
  width: 100%;
  justify-self: end;
  align-self: center;
}

.header__rec {
  position: absolute;
  top: 10px;
  right: 29px;
  font-weight: var(--font-weight-min);
  color: var(--bg-text-color);
  line-height: 1.3em;
  text-transform: uppercase;
  visibility: var(--visible);
}

.header__rec::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--bg-text-color);
  color: var(--bg-text-color);
  background-color: var(--bg-text-color);
  block-size: 5px;
  inline-size: 5px;
  inset-inline-end: -10px;
  inset-block-start: 10px;
  visibility: var(--visible);
}

/*main*/
.main {
  padding: 40px 0 40px 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--bg-color);
  padding: 10px;
}

.concentration__article:not(:last-child) {
  margin-bottom: 20px;
}

.concentration__heading {
  color: var(--theme-text-borders);
  margin-bottom: 20px;
  font-weight: var(--font-weight-max);
  font-size: var(--font-size);
  line-height: 1.3em;
}

.concentration__subheading {
  font-weight: var(--font-weight-max);
  color: var(--heading-text-color);
  font-size: var(--font-size);
  margin-bottom: 10px;
}

.title-decor {
  background-color: var(--bg-text-color);
  font-weight: var(--font-weight-max);
  line-height: 1.3em;
  color: var(--heading-text-color);
}

.title-decor-xs {
  font-weight: var(--font-weight-min);
}

.concentration__descr {
  font-weight: var(--font-weight-min);
  font-size: var(--font-size);
  line-height: 1.3em;
  color: var(--primary-text-color);
}

.concentration__images-wrapper {
  display: grid;
  gap: 10px;
}

.concentration__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.concentration__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color);
}

.concentration__link:hover {
  outline: none;
  border-bottom: 1px solid var(--primary-text-color);
}

.concentration__link:focus {
  outline: none;
}

.pictures .concentration__heading {
  margin-bottom: 10px;
}

/*footer*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100vh;
  min-height: 375px;
  background-color: var(--bg-color);
}


@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .main {
    gap: 80px;
    padding: 60px 20px 60px 20px;

  }

  .footer {
    padding: 20px;
  }

  .why, .how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .heading {
    justify-self: left;
  }

  .concentration__images-wrapper {
    gap: 20px;
  }

  .concentration__image:first-child {
    grid-column: span 2;
  }

  .concentration__image:nth-child(2) {
    grid-row: span 2;
  }

  .concentration__image:nth-child(3) {
    grid-row: span 2;
  }

  .concentration__image:nth-child(5) {
    grid-row: 3/3;
    grid-column: 2/4;
  }

  .header__descr {
    width: calc(100% / 2);
  }
}

@media (width >= 1024px) {

  .what .concentration__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }


  .why, .how {
    grid-template-columns: calc((100% - 2 * 20 / 3)) 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}